.word { 
	background-color: red;
	float:left;
	text-align: right;
 }



 .result {
 	background-color: white;
 	float: right;

 }


 .blah {
 	background-color: grey;
 }

.clickable {

}

.unclickable {

}

.timer {
	background-color: yellow;
}

.scoreboard {
	background-color: green;
	color: black;
}

.inlined {
	display: inline-block;
}