<div class="counter">
	Incorrect: {{ wrongAnswers }}
</div>
<div class="currentscore">
	Score: {{ score }}
</div>
<ng-container *ngIf="words">
<div>
	{{ words[index].description | capitalization }}
</div>
<div>
	<div class="main" *ngFor="let wrd of words[index].possibleChoices; let pos = index;">
		<div class="inlined">
			<div class="word">
				<button [disabled]="isDisabled[pos]"  (click)="guessWord(wrd, pos)">
				{{ wrd | capitalization }}
				</button>
			</div>
			<div class="result">
				<img src={{resultIcon[pos]}} width=40px height=40px>
			</div>
			<br><br>
		</div>
	</div>
</div>
</ng-container>
<div class="timer">
	{{ timeStart }}
</div>